<div class="children-container">
  <div nz-row class="header-container">
    <div nz-col nzSpan="24">
      <h3 nz-typography>Employee</h3>
    </div>
  </div>

  <div nz-row class="header-container">
    <div nz-col nzSpan="4">
      <button nz-button nzType="primary" nzSize="default" nzShape="round">
        <a routerLink="/employee/form" routerLinkActive="active" ariaCurrentWhenActive="page">Create Employee </a>
      </button>
    </div>
    <div nz-col nzSpan="4" nzOffset="16">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input
          nz-input
          type="text"
          placeholder="input search text"
          [(ngModel)]="employeeSearchValue"
          (ngModelChange)="employeeSearchChange($event)" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
      </ng-template>
    </div>
  </div>

  <nz-table #employeeTable nzSize="middle" [nzData]="employeeData" [nzLoading]="employeeLoading" nzShowSizeChanger>
    <thead>
      <tr>
        <th>No</th>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Group</th>
        <th>Status</th>
        <th nzAlign="center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of employeeTable.data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.firstName + ' ' + data.lastName }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.group }}</td>
        <td>
          <nz-badge *ngIf="data.status === 'Active'" nzColor="green" nzText="Active"></nz-badge>
          <nz-badge *ngIf="data.status === 'Non Active'" nzColor="volcano" nzText="Non Active"></nz-badge>
        </td>
        <td nzAlign="center">
          <button nz-button nzType="primary" nzSize="small" (click)="employeeInformationClick(data)">
            <span nz-icon nzType="eye" nzTheme="outline"></span>
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="primary" nzSize="small" class="edit-button" (click)="createMessage('info', 'edit')">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-button nzType="primary" nzSize="small" nzDanger (click)="createMessage('warning', 'delete')">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-drawer
    [nzVisible]="employeeInformationVisible"
    nzTitle="Employee Information"
    nzPlacement="right"
    nzSize="large"
    (nzOnClose)="openCloseEmployeeInformationPanel()">
    <ng-container *nzDrawerContent>
      <nz-descriptions [nzColumn]="2" nzTitle="Personal">
        <ng-container *ngFor="let information of employeeInformation | keyvalue: returnZero">
          <nz-descriptions-item [nzTitle]="information.key | camelcasetotitlecase" [nzSpan]="1">
            {{ information.key === 'basicSalary' ? (information.value | currency: 'Rp') : information.value }}
          </nz-descriptions-item>
        </ng-container>
      </nz-descriptions>
    </ng-container>
  </nz-drawer>
</div>
