<div class="children-container">
  <h3 nz-typography>Employee Form</h3>

  <form nz-form [formGroup]="validateForm" [nzAutoTips]="autoTips" (ngSubmit)="submitForm()">
    <nz-form-item *ngFor="let data of dataForm">
      <nz-form-label [nzSm]="6" [nzXs]="24" [nzFor]="data.name" nzRequired>
        <span>{{ data.title }}</span>
      </nz-form-label>

      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input
          *ngIf="data.type === 'text' || data.type === 'email'"
          [id]="data.name"
          [formControlName]="data.name"
          [type]="data.type"
          class="employee-input"
          nz-input />

        <nz-input-number
          *ngIf="data.type === 'number'"
          [id]="data.name"
          [formControlName]="data.name"
          [nzFormatter]="data.formatter"
          [nzParser]="data.parser"
          [nzPrecision]="2"
          class="employee-input">
        </nz-input-number>

        <nz-select
          *ngIf="data.type === 'select'"
          [id]="data.name"
          [formControlName]="data.name"
          class="employee-input"
          nzAllowClear
          nzShowSearch>
          <ng-container *ngFor="let option of data.options">
            <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
          </ng-container>
        </nz-select>

        <nz-date-picker
          *ngIf="data.type === 'date'"
          [id]="data.name"
          [formControlName]="data.name"
          [nzDisabledDate]="data.disableDate"
          [nzShowToday]="false"
          class="employee-input">
        </nz-date-picker>

        <textarea
          *ngIf="data.type === 'textarea'"
          [id]="data.name"
          [formControlName]="data.name"
          rows="3"
          class="employee-input"
          nz-input>
        </textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button>
          <a routerLink=".." routerLinkActive="active" ariaCurrentWhenActive="page">Cancel</a>
        </button>
        <button nz-button nzType="primary">Create</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
