<nz-layout>
  <nz-header>
    <div class="logo"><h1>Employee Dashboard</h1></div>
    <a nz-button class="logout-button" nzType="link" [nzLoading]="logoutStatus" (click)="logout()">Logout</a>
  </nz-header>

  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
